.banner-bg {
    background: url("/img/baner.gif");
    background-size: cover;
    padding: 22vmin;
    background-repeat: none;
    filter: grayscale(100%);
    transition: 0.5s;
}

.banner-bg:hover {
    filter: grayscale(0%);
}

.col-sm-4 .card {
    height: 100%;
    margin-bottom: 1rem;
    border: 0px;
    transition: 0.5s;
}

.col-sm-4 .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-sm-4 {
    margin-bottom: 1rem;
}
